@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Home/HomeLayout.cshtml";
}

<section id="portfolio">
    <div class="container">
        <div class="center">
            <h2>Portfolio</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>


        <ul class="portfolio-filter text-center">
            <li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".creative">Creative</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".photography">Photography</a></li>
            <li><a class="btn btn-default" href="#" data-filter=".development">Web Development</a></li>
        </ul><!--/#portfolio-filter-->

        <div class="row">
            <div class="portfolio-items">
                <div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item1.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item1.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item joomla creative col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item2.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item2.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item creative development col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item3.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item3.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item joomla development apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item4.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item4.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item joomla photography creative col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item5.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item5.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item development photography apps col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item6.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item6.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item development photography col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item7.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item7.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->

                <div class="portfolio-item development photography creative col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src='@Url.Content("~/Content/images/portfolio/recent/item8.png")' alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href='@Url.Content("~/Content/images/portfolio/full/item8.png")' rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div>
                        </div>
                    </div>
                </div><!--/.portfolio-item-->
            </div>
        </div>
    </div>
</section><!--/#portfolio-item-->

